anyio==3.7.1
beautifulsoup4==4.12.2
bech32==1.2.0
bitarray==2.8.3
bitstring==4.1.3
blessed==1.20.0
cassidy==0.1.4
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
distro==1.8.0
emoji==2.8.0
enumb==0.1.5
eva-decord==0.6.1
exceptiongroup==1.2.0
expo==0.1.2
ffmpegio==0.8.5
ffmpegio-core==0.8.5
h11==0.14.0
httpcore==1.0.2
httpx==0.25.1
idna==3.4
inquirer==3.1.3
install==1.3.5
instaloader==4.10.1
lnurl==0.4.1
mediatype==0.1.6
nostr-sdk==0.0.5
numpy==1.26.2
openai==1.3.5
packaging==23.2
pandas==2.1.3
Pillow==10.1.0
pluggy==1.3.0
pycryptodome==3.19.0
pydantic==1.10.13
pydantic_core==2.14.5
pypdf==3.17.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
pytube==15.0.0
pytz==2023.3.post1
PyUpload==0.1.4
pyuseragents==1.0.5
readchar==4.0.5
requests==2.31.0
requests-toolbelt==1.0.0
safeIO==1.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
tqdm==4.66.1
translatepy==2.3
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
wcwidth==0.2.10
